
/* The hero image */
.publications-banner-img {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/publications-banner.jpg');

  /* Set a specific height */
  width: 100%;
  height: 40vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.publications-banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.publications-banner-text h1{
  font-family:'Roboto', sans-serif;
  font-size: 4vw;
}

.publications-banner-text p{
  font-family:'Roboto', sans-serif;
  font-size: 1.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}

.publications-banner-text .publications-button{
  font-family:'Roboto', sans-serif;
  font-size: 1.5vw;
  color: black;
  display: inline-block;
  background-color: aliceblue;
  padding: 1vw 1vw;
  border-radius: 5%;
  cursor: pointer;
}

.publications-banner-text .publications-button:hover{
background-color: rgb(194, 194, 194);
transition: 200ms;
}

.publications-content {
  margin: 4vw;
  display: flex;
  justify-content: center;
}

/**Banner 2**/
.publications-banner-img2{
  width: 80vw;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;


}

h2{
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;;
  margin-left: 10vw;
  margin-top: 3vw;
}
/*accordian*/

a, a:visited, a:active {
  color: #000000;
  text-decoration: none;
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;;
}

a:hover {
  opacity: 70%;
  color: rgb(0, 122, 149);
}



body{
  background-color: #ffffff;
}




.accordion{

  width: 80vw;

  
}

.accordion li{

  list-style: none;
  width: 100%;
    margin-bottom: 2vw;
  font-family: 'Roboto', sans-serif;;
  padding: 1vw;
  border-radius: 1vw;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
              -6px -6px 10px -1px rgba(255 255, 255, 0.7);
  

}

.accordion li label{

  display: flex;
  align-items: center;
  padding: 0.5vw;
  font-size: 1.5vw;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;;
  
}

label::before{
  content: '+';
  margin-right: 1vw;
  font-size: 2vw;
}

input[type="radio"]{

  display: none;
}

.accordion .content{

  color: #555;
  line-height: 2.5vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  
}

.accordion input[type="radio"]:checked + label + .content{

  max-height: 100vw;
  padding: 1vw 2vw 1vw;
}

.accordion input[type="radio"]:checked + label::before{

  content: '-';
}

