main{
width: 100%;
height: calc(100vh - 60px);

margin-top: 60px;
background-image: url(https://static.scientificamerican.com/sciam/cache/file/F6A9B980-A253-44A1-81CB92D5496FCFB2_source.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
column-gap: 150px;

}

main .main-intro h1{

  font-size: 70px;
  line-height: 80px;
  padding-bottom: 4vh;
 
}
main p{

  font-size: 18px;
  line-height: 30x;


}

main a{

  font-size: 18px;
  display: block;
  background-color: black;
  padding: 10px 20px;
  width: fit-content;
  margin-top: 30px;
}

main .main-quotes p{
  border-left:4px solid rgb(255, 11, 190);
  padding-left: 20px;
  margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
margin-left: 100px;
}

main .main-intro{
padding-bottom: 8vh;
}
main .main-quotes{
  padding-bottom: 8vh;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
  font-family: "Source Sans Pro"
}

.btn-bgstroke:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Source Sans Pro";
}

/* Category*/

.index-category{
  width: 100%;
  padding:  60px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;

}

.index-category p{
 color: #111;
 text-align: center;
 padding-bottom: 40px;
 flex-basis: 100%;
 text-transform: uppercase;
 font-size: 22px;

}

.index-category-box{
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index-category-box:nth-child(2){
background-image: url(https://st4.depositphotos.com/1032577/21193/i/600/depositphotos_211933140-stock-photo-update-business-text-wooden-background.jpg);

background-position: -50px;
}
.index-category-box:nth-child(3){
  background-image: url(https://static.wixstatic.com/media/2fcdc7_3071c5e96e33435a88d38b72bf7cbde4~mv2.png/v1/fill/w_560,h_374,al_c,q_85,usm_2.00_1.00_0.00,enc_auto/Calendar%20Background.png);
  }

  .index-category-box:nth-child(4){
    background-image: url(https://img.freepik.com/premium-photo/adult-child-hands-holding-red-heart-aqua-background_49149-908.jpg);

background-position: -60px;

  }

  .index-category-box:nth-child(5){
    background-image: url(https://www.joe.co.uk/uploads/2016/05/18130201/iStock_000050750952_Large.jpg?height=350&width=700&cropped);

    background-position: -80px;
  }

  .dark-overlay{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
  }

  .index-category-box:hover .dark-overlay{
    opacity: 0;

  }
.index-category-box h3{
 font-size: 22px;
 line-height: 28px;
 text-align: center;
 text-shadow: -2px 2px 4px #000;
 z-index: 100;
}

/* about section*/

.index-about {
  width:100%;
  padding:60px 0;
  background-color: rgb(7, 21, 44)


}


.index-about-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.index-about-img img{

width: 400px;
border-radius: 400px;
}

.index-about-text{

flex-basis: 420px;

}

.index-about-text p{
padding: 20px 0;

  
  }

.index-about-text a{

    font-size: 18px;
    display: block;
    height: 36px;
    line-height: 36px;
    background-color: rgb(255, 7, 197);
    padding: 0 20px;
    width: fit-content;

  }

  .index-about-text a:hover {
    background-color: rgb(195, 70, 166);;
  }



.index-ic-bio {
  font-size: 16px;
}

